// Spacing
$spacing: 1rem;

  //FONTS

  //Variables CSS — Desktop

  //Signika (Desktop)
  $type-d-d1: 700 48px/1.1 "Signika", sans-serif;
  $type-d-d2: 700 40px/1.15 "Signika", sans-serif;
  $type-d-h1: 700 63px/1.2 "Signika", sans-serif;
  $type-d-h2: 600 26px/1.25 "Signika", sans-serif;
  $type-d-h3: 600 22px/1.3 "Signika", sans-serif;

  //Titillium Web (Desktop)
  $type-d-body-l: 400 18px/1.7 "Titillium Web", sans-serif;
  $type-d-body: 400 16px/1.7 "Titillium Web", sans-serif;
  $type-d-body-s: 400 14px/1.65 "Titillium Web", sans-serif;
  $type-d-btn: 600 15px/1 "Titillium Web", sans-serif;
  $type-d-caption: 400 12px/1.5 "Titillium Web", sans-serif;
  $type-d-label: 700 11px/1.4 "Titillium Web", sans-serif;
  $type-d-small: 400 10px/1.5 "Titillium Web", sans-serif;

  //Variables CSS — Mobile

  //Signika (Mobile)
  $type-m-d1: 700 36px/1.1 "Signika", sans-serif;
  $type-m-d2: 700 28px/1.15 "Signika", sans-serif;
  $type-m-h1: 700 24px/1.2 "Signika", sans-serif;
  $type-m-h2: 600 20px/1.25 "Signika", sans-serif;
  $type-m-h3: 600 18px/1.3 "Signika", sans-serif;

  //Titillium Web (Mobile)
  $type-m-body-l: 400 16px/1.7 "Titillium Web", sans-serif;
  $type-m-body: 400 15px/1.65 "Titillium Web", sans-serif;
  $type-m-body-s: 400 13px/1.6 "Titillium Web", sans-serif;
  $type-m-btn: 600 14px/1 "Titillium Web", sans-serif;
  $type-m-caption: 400 11px/1.5 "Titillium Web", sans-serif;
  $type-m-label: 700 10px/1.4 "Titillium Web", sans-serif;
  $type-m-small: 400 9px/1.5 "Titillium Web", sans-serif;

  //COLORS

  $color-primary: #405be6;
  $color-primary-hover: #3145aa;
  $color-primary-active: #1f2b6a;
  $color-primary-disabled: #405ce680;

  $color-secondary: #e69040;
  $color-secondary-hover: #aa6531;
  $color-secondary-active: #6a421f;
  $color-secondary-disabled: #e6884080;

  $color-white: #ffffff; // Texte principal
  $color-black: #000000;
  $color-grey0: #f8f8f8;
  $color-grey-1: #dbe1e8; // Texte secondaire (gris clair)
  $color-grey-2: #b2becd;
  $color-grey-3: #8e9ba5;
  $color-grey-4: #454e56; // Fond des contrôles
  $color-grey-5: #2a2e35; // Bordures et cartes
  $color-grey-6: #12181b;
