// Spacing
$spacing: 2rem;

  //FONTS

  //Variables CSS — Desktop

  //Signika (Desktop)
  $type-d-h1: 700 63px/60px "Signika", sans-serif;
  $type-d-h2: 600 30px/42px "Signika", sans-serif;
  $type-d-h3: 600 20px/28px "Signika", sans-serif;

  //Titillium Web (Desktop)
  $type-d-body: 400 16px/26px "Titillium Web", sans-serif;
  $type-d-btn: 600 16px/24px "Titillium Web", sans-serif;
  $type-d-small: 400 14px/21px "Titillium Web", sans-serif;

  //Variables CSS — Mobile

  //Signika (Mobile)
  $type-m-h1: 700 48px/51px "Signika", sans-serif;
  $type-m-h2: 600 30px/42px "Signika", sans-serif;
  $type-m-h3: 600 18px/80px "Signika", sans-serif;

  //Titillium Web (Mobile)
  $type-m-body: 400 16px/26px "Titillium Web", sans-serif;
  $type-m-btn: 600 16px/24px "Titillium Web", sans-serif;
  $type-m-small: 400 14px/21px "Titillium Web", sans-serif;

  //COLORS
  $color-bud-dark: #ad6c6c;
  $color-bud: #EFB2B2;

  $color-primary: #405be6;
  $color-primary-hover: #3145aa;
  $color-primary-active: #1f2b6a;
  $color-primary-disabled: #405ce680;

  $color-secondary: #e69040;
  $color-secondary-hover: #aa6531;
  $color-secondary-active: #6a421f;
  $color-secondary-disabled: #e6884080;

  $color-white: #ffffff; // Texte principal
  $color-black: #000000;
  $color-grey0: #f8f8f8;
  $color-grey-1: #dbe1e8; // Texte secondaire (gris clair)
  $color-grey-2: #b2becd;
  $color-grey-3: #8e9ba5;
  $color-grey-4: #454e56; // Fond des contrôles
  $color-grey-5: #2a2e35; // Bordures et cartes
  $color-grey-6: #12181b;

  $color-bad: #c0392b;
  $color-good: #1b8a3e;
  /*   FONT - SETUP   */

h1 {
  font: $type-d-h1;
}
h2 {
  font: $type-d-h2;
}
h3 {
  font: $type-d-h3;
}
body {
  font: $type-d-body;
  overflow-x: hidden;
}

a,
button {
  font: $type-d-btn;
}
